  <div class="sidebar">
        <h2>Навигация</h2>
        <ul>
            
            {% if user.is_authenticated %}
                 <li><h4>User: {{ user.get_username }}</h4></li>
                 <li><form action="{% url 'logout' %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                     <button type="submit" class="btn-link">Выйти</button>
                </form></li>
                
            {% else %}
                <li><a href="{% url 'login' %}">Войти</a></li>
            {% endif %}
        <li><a href="{% url 'main' %}">Главная</a></li>
        {% if user.is_authenticated %}
             <li><a href="{% url 'my_results' %}">Мои результаты</a></li>
        {% endif %}
        </ul>
    </div>